* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: black;
}

.container-one {
  width: 500px;
  height: 500px;
  margin: 3px;
}

.grid-intro {
  display: grid;
  grid-gap: 6px;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
}

.grid-intro .cell1 {
  background-color: lightblue;
  grid-column: 1/5;
  grid-row: 1/3;
}
.grid-intro .cell2 {
  background-color: rgb(248, 216, 221);
  grid-column: 5/10;
  grid-row: 1/3;
}
.grid-intro .cell3 {
  background-color: orange;
  grid-column: 10/15;
  grid-row: 1/3;
}

.grid-intro .cell4 {
  background-color: wheat;
  grid-column: 15/16;
  grid-row: 1/14;
}

.grid-intro .cell5 {
  background-color: wheat;
  grid-row: 3/7;
  grid-column: 1/3;
}

.grid-intro .cell6 {
  background-color: red;
  grid-column: 3/10;
  grid-row: 3/10;
}
.grid-intro .cell7 {
  background-color: lightblue;
  grid-row: 7/14;
  grid-column: 1/3;
}
.grid-intro .cell8 {
  background-color: yellow;
  grid-column: 10/15;
  grid-row: 7/3;
}
.grid-intro .cell9 {
  background-color: rgb(55, 47, 216);
  grid-column: 10/12;
  grid-row: 7/10;
}
/* .grid-intro .cell12 {
  background-color: white;
  grid-column: 12/12;
  grid-row: 7/10;
} */
/* heres a flag of france because why not */
.grid-intro .cell10 {
  background-color: red;
  grid-column: 13/15;
  grid-row: 7/10;
}
/* it has this fat gap between these two but if i move something everything breaks and im not about to waste hours work  */

.grid-intro .cell11 {
  background-color: darkblue;
  grid-column: 3/7;
  grid-row: 10/15;
}
/* who invented grid i hope their pillow is alaways warm in the summer bye */
.grid-intro .cell13 {
  background-color: lightgrey;
  grid-column: 7/10;
  grid-row: 10/12;
}
.grid-intro .cell14 {
  background-color: white;
  grid-column: 7/10;
  grid-row: 12/14;
}
.grid-intro .cell15 {
  background-color: yellow;
  grid-row: 14/20;
  grid-column: 1/3;
}
.grid-intro .cell16 {
  background-color: whitesmoke;
  grid-column: 15/10;
  grid-row: 10/12;
}
.grid-intro .cell17 {
  background-color: darkblue;
  grid-column: 15/10;
  grid-row: 12/16;
}
.grid-intro .cell18 {
  background-color: darkmagenta;
  grid-column: 7/10;
  grid-row: 14/16;
}
.grid-intro .cell19 {
  background-color: bisque;
  grid-column: 3/7;
  grid-row: 15/20;
}
.grid-intro .cell20 {
  background-color: darkkhaki;
  grid-column: 7/15;
  grid-row: 16/20;
}
.grid-intro .cell21 {
  background-color: darkred;
  grid-column: 15/16;
  grid-row: 14/20;
}

