* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
}

.container-one {
  width: 500px;
  height: 500px;
  margin: 20px;
  display: grid;
  border-top: none;
}

.grid-intro {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.cell1 {
  background-color: blue;
  grid-column: 1/1;
  grid-row: 1/2;
  width: 350px;
  border: 10px solid black;
  border-top: none;
}

.cell2 {
  background-color: green;
  grid-column: 1/1;
  grid-row: 1/2;
  width: 200px;
  transform: translate(200px);
  border: 10px solid black;
  border-top: none;
  border-right: none;
}

.cell3 {
  background-color: red;
  grid-column: 1/1;
  grid-row: 1/2;
  width: 200px;
  transform: translate(400px);
  border: 10px solid black;
  border-top: none;
  border-right: none;
}

.cell4 {
  background-color: hotpink;
  grid-column: 1/1;
  grid-row: 1/8;
  transform: translate(600px);
  width: 60px;
  border: 10px solid black;
  border-top: none;
}

.cell5 {
  background-color: grey;
  grid-column: 1/1;
  grid-row: 2/6;
  width: 70px;
  border: 10px solid black;
  border-top: none;
}

.cell6 {
  background-color: blueviolet;
  grid-column: 1/3;
  grid-row: 2/10;
  width: 350px;
  border: 10px solid black;
  border-top: none;
  border-left: none;
  transform: translate(70px);
}

.cell7 {
  background-color: lightblue;
  grid-column: 1/3;
  grid-row: 2/6;
  width: 180px;
  transform: translate(420px);
  border-bottom: 10px solid black;
}
